* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    padding: 10px;
    background-color: lightgray;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.display-container {
    margin: 20px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    height: 100px;
    width: 100%;
    font-size: 50px;
    text-align: right;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    outline: none;
}

#keypad {
    margin: 20px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    flex: 1 0 20%;
    aspect-ratio: 1/1;
    border: none;
    font-size: x-large;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

button:active {
  background-color: darkgray;
}
